<nav>
  <a href="/dreams" class="active">My Dreamscape</a> |
  <a href="/dreams/new">New Dream</a> |
  <a href="#">Collective</a> |
  <a href="/explore">Explore</a> |
  <a href="/signout">Sign Out</a>
</nav>

<div class="wrapper">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <h1><%= @dream.title %></h1>
  <p><%= @dream.entry %></p>

  <% if current_user && current_user == @dream.user %>
    <p class="linebutton"><%= link_to "Edit Dream", edit_dream_path(@dream) %></p>
    <p class="linebutton"><%= link_to "Delete Dream", dream_path(@dream), method: :delete %></p>
  <% end %>

  <h4>Tags</h4>
  <% if @dream.tags.length > 0 %>
      <% @dream.tags.each do |tag| %>
      <%= link_to tag.classification.name, classification_path(tag.classification) %>
      <% end %>
  <% end %>

  <%= form_for [@dream, @tag] do |f| %>
    <%= text_field_tag :classification_name %>
    <%= f.submit "Create Tag" %>
  <% end %>

</div>
