<nav>
  <a href="/dreams" class="active">My Dreamscape</a> |
  <a href="/dreams/new">New Dream</a> |
  <a href="#">Collective</a> |
  <a href="/explore">Explore</a> |
  <a href="#">Sign Out</a>
</nav>



<main class="cd-main-content">
  <div class="center">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <h1>Dreams by Tag: <%= @classification.name %></h1>
    <% @dreams.each do |dream| %>
    <div class="dreambox"><a data-dream-id="<%= dream.id %>" href="<%=dream_path(dream)%>" class="cd-btn cd-modal-trigger"><%= dream.title %></a></div>
    <% end %>
  </div>
</main>

<% @dreams.each do |dream| %>
<div data-dream-id="<%= dream.id %>" class="cd-modal">
  <div class="modal-content">
    <h1><%= dream.title %></h1>
    <p><%= dream.entry %></p>
  </div>
  <a href="<%=dreams_path%>" class="modal-close">Close</a>
</div>
<% end %>

<div class="cd-transition-layer">
  <div class="bg-layer"></div>
</div>
